// http://www.colourlovers.com/palette/1478701/s_t_o_p_* ?
@import "../../theme/variables.scss";

.clickable {
    cursor:pointer;
}

.viewportContainer {
    max-width:460px;
    margin:30px auto 0;
    text-shadow:0 0 3px #000;
}

.viewPort {
    background:darken( $background, 10% );
    padding:30px;
    border-radius:20px;
    box-shadow:0 0 20px mix( #000, #313640, 90% );
    border-top:1px solid lighten( $background, 35% );
    border-left:1px solid lighten( $background, 15% );
    border-right:1px solid lighten( $background, 15% );
    border-bottom:1px solid darken( $background, 2% );
}

.loading {
    min-width:400px;
    min-height:400px;
    background:#000;
    border-radius:6px;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;

    .loadingContent {
        width:200px;
        height:200px;
        text-align:center;
    }
}

.gameContainer {
    border-radius:6px;
    overflow:hidden;
    position:relative;
}

.debug {
    position:absolute;
    z-index:2;
    bottom:10px;
    right:10px;
}

.gameOverlay {
    position:absolute;
    top:0;
    left:0;
    z-index:2;
}
