.clickable {
    cursor: pointer;
}

.gameContainer {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

.gameOverlay {
    position:absolute;
    top:0;
    left:0;
    z-index:2;
}

.bubble {
    position:absolute;
    width:20px;
    height:20px;
    z-index:2;
    width:100%;
    left:50%;
}

.bubbleBackground {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:#000;
    border-radius:12px;
    opacity:0.6;
    margin:20px;
}

.bubbleContents {
    color:#fff;
    padding:10px;
}
