$bubbleBg:#225500;
$bubbleBg2:#112200;
$bubbleOpacity:0.8;

.bubble {
    position:absolute;
    z-index:2;
    width:100%;
    left:0;
}

.bubbleBackground {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:linear-gradient( $bubbleBg, $bubbleBg2 );
    opacity:$bubbleOpacity;
    border-radius:18px;
    margin:10px 10px 10px 60px;
    z-index:1;
}

.bubbleContents {
    font-size:16px;
    letter-spacing:1px;
    position:relative;
    z-index:2;
    color:#fff;
    padding:20px 25px 20px 80px;
    text-shadow:1px 1px 1px #000;
}

.arrowUp {
    position:absolute;
    top:-15px;
    width:0;
    height:0;
    opacity:$bubbleOpacity;
    border-left:0 solid transparent;
    border-right:20px solid transparent;
    border-bottom:25px solid $bubbleBg;
}
