// Primary http://www.colourlovers.com/pattern/3789613/sour_loft
// Secondary http://www.colourlovers.com/pattern/3562400/Classic_Bela_5
@import "../../theme/variables.scss";

.canvas {
    float: left;
    margin-right:10px;
}

.sidebar {
    background:#eee;
    padding:8px;
    float:left;
    width:300px;
}

.rotateable {
    cursor:grab;
}

.rotating {
    cursor:grabbing;
}

// For a tags without hrefs
a { cursor: pointer; }
