@import "../../theme/variables.scss";

form {
    margin:20px 0 0;
    text-shadow:0 0 2px #000;

    label {
        color:#EBE4B0;
        margin:0 0 0.1em;
        display:block;
    }
    input[ type="email" ] {
        color:#fff;
        background:darken( $background, 8% );
        box-shadow:inset 2px 2px 4px #000,
            0 0 4px #000;
        border:1px solid lighten( $background, 3% );
        padding:8px 16px;
        font-size:14px;
        border-radius:4px;
        width:200px;
        display:inline-block;
    }
    input[ type="submit" ] {
        color:#fff;
        background:darken( $background, 8% );
        box-shadow:0 0 4px #000;
        border:1px solid lighten( $background, 3% );
        padding:6px 19px;
        font-size:14px;
        border-radius:4px;
        display:inline-block;
        width:100px;
        margin:0 0 0 0.5em;
    }

    h4 {
        color:#B8A381;
        font-size:24px;
        margin:0 0 15px;
        padding:0;
    }

    .failure {
        color:red;
        text-shadow:0 0 2px #000;
        margin:15px 0 0;
    }

}

.red {
    color:red;
}

.success {
    font-size:28px;
    color:#9ffc57;
    text-shadow:0 0 2px #000;
    margin:15px 0 0;
}
