// Primary http://www.colourlovers.com/pattern/3789613/sour_loft
// Secondary http://www.colourlovers.com/pattern/3562400/Classic_Bela_5
@import "../../theme/variables.scss";

.sidebar {
    background:#333;
    color:#fff;
    padding:8px;
    float:left;
    width:300px;
}

.rotateable {
    cursor:grab;
}

.rotating {
    cursor:grabbing;
}

.editor {
    width:400px;
    margin:20px 20px 0 60px;
    float:left;
}

.canvasData {
    clear:left;
    background:#333;
    color:#fff;
    padding:10px;
    margin:20px 0 0;

}

// For a tags without hrefs
a { cursor: pointer; }
